<!DOCTYPE html>
<html>

<head>
    <title>City Hall: City</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script language="javascript" type="module">
    fetch("http://localhost:8080/message").then(async function(res){
        let obj = await res.json();
        let messages = new Vue({
            el: '#idMessages',
            data: {
                messages: obj,
            },
        });
    }).catch(function(e){alert(e);});

    fetch("http://localhost:8080/report").then(async function(res){
        let obj = await res.json();
        let reports = new Vue({
            el: '#idReports',
            data: {
                reports: obj
            }
        });
    }).catch(function(e){alert(e);});
    </script>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div style="position:fixed; right:1em; top:1em; z-index:99;">
        <button style="font-size:80%; " onclick="window.location.reload();">Reload</button>
    </div>

    <h1>Messages</h1>
    <p>
    <ul id="idMessages">
        <li v-for="message in messages">
            <a :href="message.sUrl">{{message.sBody}}</a>
            <a :href="'message_edit.html?id='+message.id">[ Edit ]</a>
        </li>
    </ul>
    </p>

    <h1>Reports from citizens</h1>
    <p>
    <ul id="idReports">
        <li style="clear:both; " v-for="report in reports">
            <img style="float:right; width:33%; " :src="report.sPhoto">
            <a :href="'report_chat.html?p='+report.id">{{report.sContent}}</a>
        </li>
    </ul>
    </p>

    <div style="position:fixed; right:1em; bottom:1em; ">
        <button style="font-size:120%; " onclick="location.href='message.html';">Message</button>
    </div>
</body>

</html>
