<!DOCTYPE html>
<html>

<head>
    <title>City Hall - Report Chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script language="javascript" type="module">
    fetch("http://localhost:8081/report_chat"+location.search).then(async function(res){
        let obj = await res.json();
        console.log(obj);
        let chats = new Vue({
            el: '#idChats',
            data: {
                chats: obj
            }
        });
    }).catch(function(e){alert(e);});
    </script>
    <script language="javascript">
    function onSubmit(){
        let param = {
            method:  "POST",
            headers: { "content-type": "application/json; charset=utf-8" },
            body:    JSON.stringify( { s: idChat.value } ),
        };
        fetch("http://localhost:8081/report_chat"+location.search, param).then(async function(res){
            let obj = await res.json();
            alert( JSON.stringify(obj) );
            if(obj.message === "OK"){
                location.reload();
            }
        }).catch(function(e){alert(e);});
    }
    </script>
</head>

<body>
    <h1>Report Chat</h1>
    <ul id="idChats">
        <li style="clear:both; " v-for="chat in chats">
            <!--<img style="float:right; width:33%; " :src="report.sPhoto">-->
            <div v-if="chat.bCity==1" style="background: #88f;">
                {{chat.sBody}}
            </div>
            <div v-else>
                {{chat.sBody}}
            </div>
        </li>
    </ul>

    <dt>Chat</dt>
    <dd><input type="text" id="idChat"></dd>

    <dt>&nbsp;</dt>
        <dd><button onclick="onSubmit();">submit</button></dd>
    </dl>
    <div style="position:fixed; right:1em; top:1em; ">
        <button onclick="location.href='index.html';"> back </button>
    </div>
</body>

</html>
